[run]
omit =
    */venv/*
    main.py
    setup.py
    tests/conftest.py
    tests/test_app.py
    tests/test_orm.py
    pyframe/response.py
    pyframe/middleware.py
    pyframe/__init__.py
    pyframe/request.py